
.ab {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
body {
    background-color:rgba(62, 20, 20, 0.4);
    box-shadow:  violet;
    text-shadow: transparent;
}

.newGame {
    font-size: 16px;
    transform:translate(450%,100%);
    background-color:black;
    width:100px;
    color:#fff;
    cursor: grabbing;
}
.rollDice {
    font-size: 15px;
    transform:translate(345%,-500%);
    background-color:black;
    width:100px;
    color:#fff;
    cursor: grabbing;
    bottom: 25px;
}
.holdGame {
    font-size: 15px;
    transform:translate(240%,-100%);
    background-color:black;
    width:100px;
    color:#fff;
    cursor: grabbing;
    bottom: 25px;
}
.player1{

    transform: translate(65%,-86%);
}

.player0{

    transform:translate(10%,25%);
}
#pg0, #globalScore0, #pg1, #globalScore1, #pc0, #currentScore0, #pc1, #currentScore1 {
        font-size: 20px;
        
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 10px;
        position: relative;
    
}

.dice {
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    height: 100px;
    transform: translate(450%,-200%);
}